.info {
    background-color: rgb(201, 192, 192); 
    
}

#firstDiv h1 {
   color: #416bc4;

}   
    

#firstDiv {
    max-width: 600px;
    margin:10px auto;
    padding: 50px; 
    
}

.secondDiv {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}
 #inputCountry{
    
    height: 30px;
    width: 400px;
    margin-right: 10px;
} 


#countriesBtn,#englishBtn,#thirdBtn{
    background-color:  #416bc4;
    color:white;
    
}

.container mt-5{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px; 
}
#searchBtn {
background-color:#416bc4 ;
color: white;
    
}



/* 
table {
    width: 100%;
    
  }
   
td {
    border: 1px solid;
    padding: 3px;
    text-align: left;
  }  

th {
    border: 1px solid;
    padding: 10px;
    text-align: left;
    background-color: whitesmoke;
  }
  
  
tr:hover {
    background-color: whitesmoke;
  }
  
td img {
    display: block;
    margin: 0 auto;
  } */

